<sb-cover-event-detail  *ngIf="eventItem" 
      [eventDetailItem]="eventItem" 
      [userData]="userId">
</sb-cover-event-detail>
<sb-join-event-button  *ngIf="eventItem"
      [eventDetailItem]="eventItem" 
      [userData]="userId" 
      [canUnenroll]="true">
</sb-join-event-button>
<sb-advance-event-detail  *ngIf="eventItem"
      [eventDetailItem]="eventItem">
</sb-advance-event-detail>

<!-- Back button -->
<div class="d-flex my-24 flex-jc-flex-end">
      <button (click)="goBack()" class="sb-btn sb-btn-outline-primary sb-btn-md ripple">
            Back
      </button>
</div>

