<sb-event-create  *ngIf="!isDetail" [formFieldProperties]="formFieldProperties" [userId]="userId" (closeSaveForm)="cancel($event)" (navAfterSave)="navAfterSave($event);"></sb-event-create>

<sb-cover-event-detail *ngIf="isDetail" (EditEventId)="getId($event)" [eventDetailItem]="eventItem" [userData]="userId"></sb-cover-event-detail>
<sb-join-event-button *ngIf="isDetail" [eventDetailItem]="eventItem" [userData]="userId" [canUnenroll]="canUnenroll"></sb-join-event-button>
<sb-advance-event-detail *ngIf="isDetail" [eventDetailItem]="eventItem"></sb-advance-event-detail>